body {
  font-family: Ariel;
  color: white;
  text-align: center;
  background-image: url('677291F2-1C53-4162-A2F1-CFCC900B5DCB.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  
}

p {
  font-family: test;
  src: url(assets/webfonts/fa-brands-400.ttf);
  color: black;
  opacity: 50%;
  
}

img {
  border-radius: 50%;
}
