body {
  font-family: Ariel;
  color: black;
  text-align: center;
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  
}

p1 {
  font-family: test;
  src: url(assets/webfonts/fa-brands-400.ttf);
  color: white;
  
}
